/* Color navbar and toolbar */
nav, #globalNav, screen > footer, 
screen > toolbar,
input[type="range"] -webkit-track,
.isDesktop .segmented > button:hover,
.segmented > button.selected,
.isDesktop .stepper > button:hover,
.isDesktop .stepper > button.selected,
.isDesktop .stepper > button:hover > span,
.isDesktop .stepper > button.selected > span  {
  background-color: skyblue;
}
/* Color title and buttons in nav and toolbars */
nav h1, 
nav button, 
toolbar button, 
footer button, 
nav .back, 
#chui-back-arrow,
.pager > button.selected   {
  color: #333 !important;
  stroke: #333 !important;
}
/* Callout text */
.attentionGrabber {
  /*color: skyblue;*/
}
/* Editable List, Select List &  Multi-select List */
#move-indicator,
.selection-indicator #checkmark,
.multi-select-list > li #multi-select-icon  {
  /*stroke: skyblue ;*/
}
/* Paging Control */
#pagination-icons path#page-previous,
#pagination-icons path#page-next {
  stroke: #333;
}
/* Range Control */
input[type="range"] {
  background-image: -webkit-linear-gradient(top, skyblue, skyblue);
}
/* Segmented Buttons */
.segmented > button {
  border-color: skyblue;
  color: skyblue;
}
.isDesktop .segmented > button:hover,
.segmented > button.selected {
  color: #333;
}
/* Slideout Button */
button.slide-out-button {
  background-image: -webkit-linear-gradient(left, #fafafa, #fafafa) !important;
  background-image: linear-gradient(left, #fafafa, #fafafa) !important;
}
button.slide-out-button::before,
button.slide-out-button::after {
  background-color: #fafafa;
}
/* Stepper Control */
.stepper > label,
.stepper > button {
  border: solid 1px skyblue;
}
/* Switches */
switch.checked {
  border-color: skyblue;
  box-shadow: inset 0 0 0 15px skyblue;
}
/* Tabbar */
tabbar > button.more > .icon::before {
  color: skyblue !important;
}