/* Color navbar and toolbar */
nav, #globalNav, screen > footer, 
screen > toolbar,
input[type="range"] -webkit-track,
.isDesktop .segmented > button:hover,
.segmented > button.selected,
.isDesktop .stepper > button:hover,
.isDesktop .stepper > button.selected,
.isDesktop .stepper > button:hover > span,
.isDesktop .stepper > button.selected > span  {
  background-color: #78c5e4;
}
/* Color disclosure indicators */
disclosure {
  border-color: #78c5e4;
}
/* Color title and buttons in nav and toolbars */
nav h1, 
nav button, 
toolbar button, 
footer button, 
nav .back, 
#chui-back-arrow,
.pager > button.selected   {
  color: #333 !important;
  stroke: #333 !important;
}
/* Callout text */
.attentionGrabber {
  /*color: #78c5e4;*/
}
/* Editable List, Select List &  Multi-select List */
#move-indicator,
.selection-indicator #checkmark,
.multi-select-list > li #multi-select-icon  {
  /*stroke: #78c5e4 ;*/
}
/* Paging Control */
#pagination-icons path#page-previous,
#pagination-icons path#page-next {
  stroke: #333;
}
/* Range Control */
input[type="range"] {
  background-image: -webkit-linear-gradient(top, #78c5e4, #78c5e4);
}
/* Segmented Buttons */
.segmented > button {
  border-color: #78c5e4;
  color: #78c5e4;
}
.isDesktop .segmented > button:hover,
.segmented > button.selected {
  color: #333;
}
/* Slideout Button */
button.slide-out-button {
  background-image: -webkit-linear-gradient(left, #333, #333) !important;
  background-image: linear-gradient(left, #333, #333) !important;
}
button.slide-out-button::before,
button.slide-out-button::after {
  background-color: #333;
}
/* Stepper Control */
.stepper > label,
.stepper > button {
  border: solid 1px #78c5e4;
}
/* Switches */
switch.checked {
  border-color: #78c5e4;
  box-shadow: inset 0 0 0 15px #78c5e4;
}
/* Tabbar */
tabbar > button.more > .icon::before {
  color: #78c5e4 !important;
}