<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="msapplication-tap-highlight" content="no">
  <title>ChocolateChip-UI</title>
  <link rel="stylesheet" href="../../dist/css/chui-ios.min.css">
  <script src="../../dist/chui.min.js"></script>
  <script type="application/json" src="../../dist/chui.min.js.map"></script>
  <style>
    img {
      width: 100px;
      height: auto;
      align-self: flex-start;
    }
  </style>
  <script>
    $(function() {
      
    });
  </script>
</head>
<body>
  <screen id='main' class='current'>
    <nav>
      <h1>List with Images</h1>
    </nav>
    <section>
      <ul class='list'>
        <li data-goto>
          <aside>
            <img title='Blues' src="../images/music/Willy Moon.jpg">
          </aside>
          <h3>Willy Moon</h3>
          <aside>
            <info></info>
          </aside>
        </li>
        <li data-goto>
          <aside>
            <img title='Classical' src="../images/music/The Olms.jpg">
          </aside>
          <h3>The Olms</h3>
          <aside>
            <info></info>
          </aside>
        </li>
        <li data-goto>
          <aside>
            <img title='iTunes' src="../images/music/Kiss.jpg">
          </aside>
          <h3>Kiss</h3>
          <aside>
            <info></info>
          </aside>
        </li>
        <li data-goto>
          <aside>
            <img title='Killers' src="../images/music/Permanent.jpg">
          </aside>
          <h3>David Cook</h3>
          <aside>
            <info></info>
          </aside>
        </li>
        <li data-goto>
          <aside>
            <img title='Killers' src="../images/music/Imagine Dragons.jpg">
          </aside>
          <h3>Imagine Dragons</h3>
          <aside>
            <info></info>
          </aside>
        </li>
      </ul>        
    </section>
  </screen>
</body>
</html>
