html, body {
overflow: hidden;
}
#main {
  /*top: 100px;*/
  background-color: #fff;
}
#california-wines-header {
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  height: 100px;
  background: transparent url('../images/wine-bottle-sizes-4.jpg') no-repeat center center;
  background-size: 100% auto;
  padding: 0;
}
#california-wines-header h1 {
  color: transparent;
  position: static;
  font-size: 20pt;
  width: 100% !important;
  text-align: center;
  box-sizing: border-box;
  height: 64px;
  margin: 0 auto;
  background: transparent url('../images/resources/Logo.svg') no-repeat;
  background-position:  center center;
  background-size: auto 64px;
}
ui-scroll-panel {
  height: 130px !important;
  background-color: transparent !important;
  padding-top: 1px;
}
ui-scroll-panel > ul {
  width: 1720px !important;
  display: -webkit-flex;
  -webkit-flex-direction: row !important;
  -wekbit-justify-content: center;
  -webkit-align-items: center;
}
ui-scroll-panel > ul > li {
  height: 120px !important;
  min-width: 120px !important;
  max-width: 120px !important;
  box-sizing: border-box !important;
  overflow: hidden;
  cursor: pointer;
}
ui-scroll-panel > ul > li > div {
  display: -webkit-flex;
  -webkit-flex-direction: column !important;
  -webkit-justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  padding: 8px;
  background-color: #f6f4ba;
  border-top: solid 8px #ffd369;
  border-bottom: solid 8px #ffd369;
}
#picksRed > li:nth-child(odd) > div {
  background-color: #f6cbc8;
  border-color: #bb3768;
}
ui-scroll-panel > ul#picksRed > li:nth-child(odd) > div > h3 {
  color: #952a51;
}
ui-scroll-panel > ul#picksRed > li:nth-child(odd) > div > p {
  background-color: #dc427a !important;
}

#picksRed > li:nth-child(even) > div {
  background-color: #df3b30 !important;
  border-color: #95280d;
}
ui-scroll-panel > ul#picksRed > li:nth-child(even) > div > h3,
ui-scroll-panel > ul#picksRed > li:nth-child(even) > div > h4 {
  color: #fff;
}
ui-scroll-panel > ul#picksRed > li:nth-child(even) > div > p {
  background-color: #95251e !important;
}
:not(.isDesktop) ui-scroll-panel > ul#picksRed > li > div > h3,
:not(.isDesktop) ui-scroll-panel > ul#picksWhite > li > div > h3 {
  font-size: 13px !important;
  line-height: 1.234 !important;
}
:not(.isDesktop) ui-scroll-panel > ul#picksRed > li > div > h4,
:not(.isDesktop) ui-scroll-panel > ul#picksWhite > li > div > h4 {
  font-size: 13px !important;
  line-height: 1 !important;
}
:not(.isDesktop) ui-scroll-panel > ul#picksWhite > li > div > p,
:not(.isDesktop) ui-scroll-panel > ul#picksRed > li > div > p {
  font-size: 12px !important;
  line-height: 1;
}
#picksWhite > li:nth-child(even) > div {
  background-color: #c8ddf2;
  border-color: #5298d5;
}

ui-scroll-panel > ul#picksWhite > li:nth-child(even) > div > h3 {
  color: #366793;
}
ui-scroll-panel > ul#picksWhite > li:nth-child(even) > div > p {
  background-color: #145493 !important;
}

ui-scroll-panel > ul > li > div > h3,
ui-scroll-panel > ul > li > div > h4,
ui-scroll-panel > ul > li > div > p {
  font-size: 12px;
  margin: 0;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 10px;
  white-space: normal;
}
ui-scroll-panel > ul > li > div > h3 {
  color: #664411;
  font-weight: 600 !important;
  text-transform: uppercase;
}
ui-scroll-panel > ul > li > div > h4 {
  font-family: Optima, Georgia, Consola;
  font-weight: bold !important;
  font-size: 13px;
}
ui-scroll-panel > ul > li > div > p {
  box-sizing: border-box;
  background-color: #b27e50;
  color: #e1ddd9;
  padding: 2px 1px;
  width: 50px;
  margin: 0 auto;
  border: solid 1px #664411;
  font-weight: bold !important;
}
#pricePanel {
  margin : 0;
}
#priceRangeInput {
  display: block;
  margin: 10px auto;
  width: 90%;
}
#refineWineSelection ul.list {
  margin-bottom: 40px;
}
#selectedWine li.comp > aside > button.action {
  min-width: 100px !important;
  display: inline-flex;
  margin: 10px 20px;
}
.hero {
  height: 140px;
  margin-top: -20px;
  background-position: center center;
  background-size: 100% auto;
}
progress {
  width: 90%;
  margin: 0 auto;
  display: block;
}
.sheet {
  top: auto;
  height: 80px;
  background-color: #f7f7f7;
  border-top: solid 2px #ccc;
  padding: 0;
}
.sheet > section {
  top: 70px;
  padding: 0 !important;
}
.sheet.opened chui-sheet-handle, .sheet chui-sheet-handle {
  display: block;
  background: none !important;
  -webkit-mask-image: none;
}
.sheet > section > #progressPanel > h2 {
  text-align: center;
}
.sheet > section > #confirmationPanel {
  display: none;
}
.sheet > section > #confirmationPanel > p {
  padding: 0 15px;
}
.sheet > section > #confirmationPanel > h2 {
  color: #000;
  font-size: 16pt;
  line-height: 1.5;
  text-transform: none;
}
:not(.isDesktop) .sheet > section > #confirmationPanel {
  padding-bottom: 80px;
}
#getInfo {
  height: 25px;
  width: 25px;
  background: transparent url('../images/resources/info-button.svg') no-repeat center center;
  background-size: auto 100%;
}
#search {
  height: 25px;
  width: 25px;
  top: 10px;
  background: transparent url('../images/resources/search.svg') no-repeat center center;
  background-size: auto 100%;
}
#searchSheet {
  background-color: #f1f1f6;
}
#searchSheet chui-sheet-handle {
  display: none !important;
}
#searchSheet > section {
  top: 0px !important;
}
#searchSheet > section > .list {
  background-color: #fff !important;
  border-top: solid 1px #c8c8c8;
  border-bottom: solid 1px #c8c8c8;
}
#searchSheet > section > .list > li {
  border: none !important;
}
#searchSheet > section > .list > li::before {
  display: block;
  content: '';
  position: absolute;
  bottom: 0px;
  left: 15px;
  right: 0px;
  border-bottom: solid 1px #c8c8c8;
}
#searchSheet > section > .list > li:last-of-type::before {
  border-bottom: none;
}
#searchSheet h1 {
  text-align: center;
  -webkit-flex: 1;
  width: auto;
  margin: 10px auto;
  font-weight: 300;
  z-index: 1000
}
#searchNav {
  background-color: #fff;
  border-bottom: solid 1px #a7a7aa;
  overflow: hidden;
  padding: 0 10px;
  margin-bottom: 20px;
  position: static;
}
#global-nav {
  background-color: #fff;
}
#searchSheet h2 {
  text-align: left !important;
}
#searchParameters.horizontal.centered,
#searchParameters-no-match.horizontal.centered {
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
#searchParameters.horizontal span,
#searchParameters-no-match.horizontal span {
  display: inline-block;
}
#priceRangeOutput {
  color: #007aff;
}
#purchaseSheet {
  height: 80px;
  top: auto;
  bottom: 0;
  padding-bottom: 20px;
}
#purchaseSheet > chui-sheet-handle {
  display: none;
}
#purchaseSheet > section {
  top: 0px;
}
#confirmationPanel, #progressPanel {
  padding: 0 20px;
}
#confirmationPanel h2,
#progressPanel h2 {
  margin: 0;
}
.parameters {
  background-color: #edecf2;
  padding: 2px 10px;
  margin: 0 10px;
  display: inline-block;
  border-radius: 20px;
  border: solid 1px #505052;
  color: #505052;
  font-weight: bold;
  font-size: 10pt;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
#wineSearchResultsNav button + h1 {
  left: 55px;
  right: 55px;
}
.price:not(.parameters) {
  color: #157EFB !important;
  border: solid 1px #157EFB;
  border-radius: 8px;
  padding: 2px 10px !important;
  max-height: 30px;
  cursor: pointer;
}
#selectedWine section .list li h4 {
  margin-bottom: 4px;
}
#selectedWine ul.list > li {
  align-items: center;
}
#filteredWines li h4 {
  color: #7f7f7f !important;
}
#purchasePopup .panel {
  padding: 20px 10px 0 !important;
}
#aboutSheet {
  height: 100% !important;
}
#aboutSheet section {
  padding: 20px 40px !important;
}
#aboutSheet chui-sheet-handle {
  display: block;
}
#aboutSheet nav {
  position: static !important;
  padding: 0 20px 10px 20px;
  border-bottom: solid 1px #bbb;
  margin: 0 -40px;
  height: 60px;
}
#aboutSheet h3, #aboutSheet h4, #aboutSheet p {
  margin: 6px 0 !important;
}
.isStandalone #searchNav {
  position: static !important;
}
.isStandalone #searchSheet > section {
  top: 0px;
}
.isStandalone nav.current {
  top: 0px !important
}
.isStandalone screen:not(#main) {
  top: 45px !important;
}
toolbar {
  -webkit-justify-content: space-between !important;
  justify-content: space-between !important;
}
@media only screen and (device-width: 375px) {
  #california-wines-header {
    height: 160px;
  }
}
@media only screen and (device-width: 414px) and (orientation: portrait) {
  
  #california-wines-header {
    height: 304px;
    background-size: 414px 304px;
  }
  #california-wines-header::before {
    content: '';
    display: block;
    height: 20px;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: -20px;
  }
}
@media only screen and (device-width: 414px)  {
  body.inBrowserMode #california-wines-header {
    height: 244px !important;
    background-size: 414px auto;
  }
  body.inBrowserMode #main {
    top: 224px !important;
  }
}
@media only screen and (device-width: 414px) and (orientation: landscape) {
  #searchSheet h1 {
    margin: 10px 160px !important;
    width: 280px !important;
  }
}