tabbar > button {
  background-color: #fafafa;
}
tabbar > button:hover,
tabbar > button.selected {
  color: #007aff !important;
  background-color: #f0f0f0;
  opacity: 1 !important;
}
tabbar > button > .icon {
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
}
tabbar > button.music > .icon  {
  background-image: url("../images/icons/Head_phones.svg");
}
tabbar > button.docs > .icon {
  background-image: url("../images/icons/Documents.svg");
}
tabbar > button.recipes > .icon  {
  background-image: url("../images/icons/Download.svg");
}
tabbar > button.top_rated > .icon {
  background-image: url("../images/icons/Favorite.svg");
}