
/*===================*/
/* Segmented Control */
/*===================*/
.segmented {
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px 10px;
  -webkit-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
  height: auto;
  position: relative;
}
.segmented > span.androidSelectionBorder {
  display: block;
  position: absolute;
  z-index: 999999;
  bottom: 0;
  left: 0;
  border-bottom: solid 3px #007aff;
  transition: left .25s ease-out;
}
.segmented > button {
  -webkit-appearance: none !important;
  background-color: transparent !important;
  background-image: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.025) 10%);
  background-size: 1000% 1000%;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 1px 4px #666666;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: solid 1px #979797;
  text-align: center !important;
  padding: 10px 10px 4px;
  border: none;
  border-bottom: solid 1px #cecece;
  box-shadow: none !important;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  cursor: pointer;
  margin: 0px !important;
  padding: 6px 20px 0px !important;
  border-radius: 0;
}
.segmented > button:focus {
  outline: none !important;
}
.isDesktop .segmented > button:hover,
.segmented:not(.paging) > button.selected {
  opacity: 1 !important;
  box-shadow: none;
  border-bottom: solid 3px rgba(0,0,0,0.15);
  padding: 11px 10px 3px;
}
div.horizontal.centered > .segmented {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
  margin: 10px 16px;
  width: 100%;
}