
/*===============*/
/* Sheet Control */
/*===============*/
sheet {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(156, 159, 164, 0.5);
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
sheet.slideDown {
  -webkit-transform: translate3d(0, -120%, 0) !important;
  transform: translate3d(0, -120%, 0) !important;
}
sheet chui-sheet-handle {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  cursor: pointer;
  height: 40pt;
  margin: 0 auto;
  cursor: pointer;
}
sheet chui-sheet-handle #sheet-handle {
  stroke: #fff;
  stroke-linecap: butt;
  stroke-linejoin: butt;
  stroke-width: 6px
}
sheet.opened,
sheet.slideDown.opened {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}
sheet > chui-sheet-handle  svg {
  -webkit-transform: scale(.5) !important;
  transform: scale(.5) !important;
}
sheet.slideDown > chui-sheet-handle  svg {
  -webkit-transform: rotate(180deg) scale(.5) !important;
  transform: rotate(180deg) scale(.5) !important;
}
sheet button {
  color: #585d63;
  border: solid 1px #585d63;
  /*border-radius: 20px;*/
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 0 !important;
}
sheet > section {
  position: absolute;
  top: 53px;
  left: 0;
  bottom: 0;
  height: auto;
  right: 0;
  background: none;
}
sheet > section > h2 {
  text-align: center;
}
sheet > section > .list {
  border: none;
  background-color: transparent !important;
}
sheet > section > .list > li {
  border-bottom: solid 1px #585d63;
  background-color: transparent !important;
}
sheet > section > .list > li::before {
  content: none;
}
screen.current.blurred {
  -webkit-filter: blur(10px);
  -webkit-transition-duration: .15s;
  filter: blur(10px);
  transition-duration: .15s;
}
screen.current.blurred.removeBlurSlow {
  -webkit-filter: blur(0px);
  -webkit-transition-duration: .35s;
  filter: blur(0px);
  transition-duration: .35s;
}