
/*=================*/
/* Editable Lists */
/*=================*/
.list.deletable.editable > li {
  padding: 8px 20px 8px 30px;
}
.list.editable > li {
  padding: 8px 20px 8px 10px;
}
.list li > .deletion-indicator {
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  margin-left: -50px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  z-index: 100;
}
.list li > .deletion-indicator #checkmark {
  display: none;
}
.list li > .move-up,
.list li > .move-down {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transform: translate3d(150px, 0, 0);
  transform: translate3d(150px, 0, 0);
}
#move-indicator {
  stroke: #007aff;
}
.list li > .move-up::before,
.list li > .move-down::before {
  display: block;
  content: '';
  width: 21px;
  height: 21px;
  position: absolute;
}
.list li > .move-down {
  margin-right: 10px;
  -webkit-transform: translate3d(120px, 0, 0);
  transform: translate3d(130px, 0, 0);
}
.list li > .move-down path#mode-up {
  display: none;
}
.list li > button.delete {
  float: right;
  background-color: #ff0000;
  color: #ffffff;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 80px;
  position: absolute;
  right: -100px;
  top: 0;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  cursor: pointer;
  font-family: 'HelveticaNeue-Light';
  font-weight: 200;
}
.list li > button.delete > svg {
  display: none !important;
}
.list li > button.delete > label {
  display: block !important;
  margin: auto;
  font: -apple-system-short-headline;
  font-weight: normal;
}
.list li:first-of-type > .move-up {
  opacity: .35;
}
.list li:last-of-type > .move-down {
  opacity: .35;
}
.list.editable > li,
.list.deletable > li {
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.list.editable > li.selected,
.list.deletable > li.selected {
  background-color: #ffffff;
}
.list.editable > li.selected h3,
.list.deletable > li.selected h3,
.list.editable > li.selected h4,
.list.deletable > li.selected h4,
.list.editable > li.selected p,
.list.deletable > li.selected p {
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.list.editable > li.selected > button.delete,
.list.deletable > li.selected > button.delete {
  -webkit-transform: translate3d(85px, 0, 0);
  transform: translate3d(90px, 0, 0);
  right: 90px;
}
.list.editable > li.selected > .deletion-indicator,
.list.deletable > li.selected > .deletion-indicator {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.list.showIndicators .deletion-indicator {
  margin-left: -20px;
}
.list.showIndicators .move-up {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin-right: 10px;
}
.list.showIndicators .move-down {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.list.showIndicators > li.selected .move-up {
  margin-right: 100px;
}
.list.showIndicators > li.selected .move-down {
  margin-right: 10px;
}
.list.showIndicators > li > h3 {
  width: 55%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list > li[data-goto] > .deletion-indicator {
  position: absolute;
  left: -40px;
  margin-left: 0px;
}
.list > li[data-goto] > .deletion-indicator + div + aside {
  margin: -20px;
  position: relative;
  right: 15px;
}
html[dir=rtl] .list.editable > li {
  padding: 8px 30px 8px 20px;
} 
html[dir=rtl] .list li > .deletion-indicator {
  margin-right: -50px;
  margin-left: 10px;
}
html[dir=rtl] .list li > .move-up,
html[dir=rtl] .list li > .move-down {
  -webkit-transform: translate3d(-150px, 0, 0);
  transform: translate3d(-150px, 0, 0);
} 
html[dir=rtl] .list li > .move-down {
  margin-right: 0;
  margin-left: 10px;
  -webkit-transform: translate3d(-130px, 0, 0);
  transform: translate3d(-130px, 0, 0);
}
html[dir=rtl] .list.showIndicators .move-up {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin-right: 0;
  margin-left: 10px;
}
html[dir=rtl] .list.showIndicators .move-down {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
html[dir=rtl] .list.showIndicators > li.selected .move-up {
  margin-right: 0;
  margin-left: 80px;
}
html[dir=rtl] .list.showIndicators > li.selected .move-down {
  margin-right: 0;
  margin-left: 10px;
} 
html[dir=rtl] .list li > button.delete {
  float: left;
  right: auto;
  left: -100px;
}
html[dir=rtl] .list.editable > li.selected > button.delete,
html[dir=rtl] .list.deletable > li.selected > button.delete {
  -webkit-transform: translate3d(-90px, 0, 0);
  transform: translate3d(-90px, 0, 0);
  right: auto;
  left: 90px;
} 
html[dir=rtl] .list.editable > li.selected > .deletion-indicator,
html[dir=rtl] .list.deletable > li.selected > .deletion-indicator {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
html[dir=rtl] .list.showIndicators .deletion-indicator {
  margin-left: 10px;
  margin-right: -20px;
}