
/*===================*/
/* Segmented Control */
/*===================*/
.segmented {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.segmented > button {
  display: block;
  border: solid 1px #007aff;
  padding: 4px 15px;
  margin: 0;
  border-left: none;
  background-color: rgba(255, 255, 255, 0.65);
  width: auto;
  overflow-x: hidden;
  -webkit-transition: none;
  transition: none;
  font-size: 10pt;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex: 1;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  text-align: center;
  color: #007aff;
}
.segmented > button:first-of-type {
  border-left: solid 1px #007aff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.segmented > button:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.isDesktop .segmented > button:hover,
.segmented > button.selected {
  color: #ffffff;
  background-color: #007aff;
  opacity: 1;
}
div.horizontal.centered > .segmented {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  margin: 10px 15px;
}
html[dir=rtl] .segmented > button:first-of-type {
  border-left: none;
  border-right: solid 1px #007aff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
} 
html[dir=rtl] .segmented > button:last-of-type {
  border-left: solid 1px #007aff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}