
/*=============*/
/* Select List */
/*=============*/
.select-list > li {
  cursor: pointer;
}
.select-list > li > aside > span.selection-indicator {
  display: inline-block;
  height: 20px;
  width: 20px;
  opacity: 0;
  transition: opacity .5s ease;
  -webkit-transition: opacity .25s ease;
}
.select-list > li > input, 
.select-list > li circle#outer-circle,
.select-list > li circle#inner-circle {
  display: none;
}
.select-list > li.selected > aside >  span.selection-indicator {
  display: inline-block;
  opacity: 1;
}