
/*=================*/
/* Stepper Control */
/*=================*/
stepper, 
.stepper {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding: 1px;
}
stepper > input, 
.stepper > input {
  margin: 0;
  display: none;
}
stepper > label, 
.stepper > label {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #007aff;
  width: 40px;
  height: 30px;
  font: bold 16px/30px Helvetica;
  text-align: center;
  background-color: #ffffff;
}
stepper > button, 
.stepper > button {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.35);
  width: 33px;
  height: 30px;
  border: solid 1px #007aff;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
  line-height: 16pt;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #2d2d2d;
}
.isDesktop stepper > button:hover,
.isDesktop stepper > button.selected,
.isDesktop stepper > button:hover > span,
.isDesktop stepper > button.selected > span,
.isDesktop .stepper > button:hover,
.isDesktop .stepper > button.selected,
.isDesktop .stepper > button:hover > span,
.isDesktop .stepper > button.selected > span {
  background-color: #007aff;
  color: #fff;
}
stepper > button > span,
.stepper > button > span {
  display: block;
  margin: -4px auto auto auto;
}
stepper > button:first-of-type,
.stepper > button:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  margin: 0;
}
stepper > button:last-of-type,
.stepper > button:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  margin: 0;
}
stepper > button[disabled],
.stepper > button[disabled] {
  opacity: .5;
}
.isDesktop stepper > button[disabled]:hover,
.isDesktop .stepper > button[disabled]:hover {
  opacity: .5;
  background-color: rgba(255, 255, 255, 0.35);
  color: #2d2d2d;
  cursor: default;
}
.isDesktop stepper > button[disabled]:hover > span,
.isDesktop .stepper > button[disabled]:hover > span {
  background-color: rgba(255, 255, 255, 0.35);
  color: #2d2d2d;
}
html[dir=rtl] stepper > button:first-of-type,
html[dir=rtl] .stepper > button:first-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-right: solid 1px #007aff;
  border-left: none;
  margin: 0;
}
html[dir=rtl] stepper > button:last-of-type,
html[dir=rtl] .stepper > button:last-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left: solid 1px #007aff;
  border-right: none;
  margin: 0;
}