
/*========*/
/* Paging */
/*========*/
.pager {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.pager > button {
  border: none;
  background: none;
  width: 30px;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.isDesktop .pager > button:hover,
.pager > button.selected {
  opacity: .75;
  color: #007aff;
  background-color: transparent;
}
.isDesktop .pager > button[disabled]:hover,
.isDesktop .pager > button[disabled] {
  opacity: .5;
  cursor: default;
}
.pager > button > svg {
  -webkit-transform: scale(.8);
  transform: scale(.8);
}
#pagination-icons path#page-previous,
#pagination-icons path#page-next {
  stroke: #007aff;
  stroke-width: 3;
}
section.paging {
  position: relative;
}
section.paging > article {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 1;
  padding: 0 0 100px 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
article.paging {
  overflow: hidden;
  overflow-y: scroll;
  -webkit-box-orient: vertical;
  -webkit-direction: column;
  box-orient: vertical;
  direction: column;
}
/* Scaling needed to fix overflow bug in mobile Safari: */
section.paging > article.previous {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
section.paging > article.current {
  -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
  transform: translate3d(0, 0, 0) scale(1, 1);
}
section.paging > article.next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0, 1);
  transform: translate3d(100%, 0, 0) scale(0, 1);
}
html[dir=rtl] .pager > button.previous > svg  {
  -webkit-transform: rotate(180deg) scale(.8);
  transform: rotate(180deg) scale(.8);
}
html[dir=rtl] .pager > button.next > svg  {
  -webkit-transform: rotate(180deg) scale(.8);
  transform: rotate(180deg) scale(.8);
}
html[dir=rtl] section.paging > article.previous {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
html[dir=rtl] section.paging > article.next {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0, 1);
  transform: translate3d(-100%, 0, 0) scale(0, 1);
}
