/* Color navbar and toolbar */
nav, #globalNav, screen > footer, screen > toolbar {
  background-color: skyblue;
}
/* Color title and buttons in nav and toolbars */
nav h1, nav button, toolbar button, footer button, nav .back, #chui-back-arrow  {
  color: #333 !important;
  stroke: #333 !important;
}
/* Color disclosure indicators */
disclosure {
  border-color: skyblue;
}
/* Color segmented control marker */
span.androidSelectionBorder,
tabbar > span.androidSelectionBorder {
  border-bottom: solid 3px skyblue !important;
}
/* Callout text */
.attentionGrabber {
  /*color: skyblue;*/
}
/* Editable Lists */
#move-indicator,
.list li > .deletion-indicator #checkmark,
.multi-select-list > li #multi-select-icon,
.select-list > li.selected #outer-circle {
  /*stroke: skyblue !important;*/
}
.list li > .deletion-indicator {
  /*border: solid 1px skyblue;*/
}
.list.editable > li.selected > .deletion-indicator,
.list.deletable > li.selected > .deletion-indicator {
  box-shadow: 0 0 2px 1px skyblue;
}
.multi-select-list > li > span.multi-selection-indicator {
  border: solid 1px skyblue;
}
.multi-select-list > li.selected > span.multi-selection-indicator {
  box-shadow: 0 0 2px 1px skyblue;
}
#pagination-icons path#page-previous,
#pagination-icons path#page-next {
  stroke: #333 !important;
}
.pager > button.selected   {
  color: #333 !important;
  stroke: #333 !important;
}
input[type="range"] {
  background-image: -webkit-linear-gradient(top, skyblue, skyblue), -webkit-linear-gradient(top, #cccccc, #cccccc);
}
input[type="range"]::-webkit-slider-thumb {
  background-color: skyblue;
}
input[type="range"]:active::-webkit-slider-thumb,
.isDesktop input[type="range"]::-webkit-slider-thumb:hover,
.isDesktop input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px skyblue, 0 0 0 8px rgba(0, 0, 0, 0.08);
}
.isDesktop input[type="range"]::-webkit-slider-thumb:hover::before {
  background-color: skyblue;
}
.isNativeAndroidBrowser input[type="range"] {
  background-image: -webkit-linear-gradient(top, skyblue, skyblue);
}
textarea,
input[type=text],
input[type=number],
input[type=password],
input[type=email],
input[type=url],
input[type=text] {
  background-image: 
     -webkit-linear-gradient(left, skyblue, skyblue),
     -webkit-linear-gradient(left, #ccc, #ccc);
  background-image: 
     linear-gradient(to right, skyblue, skyblue),
     linear-gradient(to right, #ccc, #ccc);
}
.segmented > span.androidSelectionBorder {
  border-bottom: solid 3px skyblue;
}
.select-list > li.selected #inner-circle {
  fill: skyblue !important;
}
button.slide-out-button {
  background-image: -webkit-linear-gradient(left, #333, #333) !important;
  background-image: linear-gradient(left, #333, #333) !important;
}
button.slide-out-button::before,
button.slide-out-button::after {
  background-color: #333;
}
switch {
  background-image: -webkit-linear-gradient(left, skyblue, skyblue), -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(to left, skyblue, skyblue), linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
switch.checked > em {
  background-color: skyblue;
}
switch.traditional.checked > em {
  background-color: skyblue;
  border: solid 1px skyblue;
}
.isDesktop tabbar>button:hover, tabbar>button.selected {
  color: skyblue !important;
}
tabbar ~ screen > nav {
  background-color: #f0f0f0 !important;
}
tabbar ~ screen > nav > h1 {
  color: #000 !important;
}